/*全局设置：页面无空白边框，无滚动条*/
html, body, #app{
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 面包屑设置 */
.el-breadcrumb {
  font-size: 16px;
  margin: 10px;
  margin-left: 15px;
}
/* .el-breadcrumb /deep/ .el-breadcrumb__item {
  color: white !important;
} */

/* 卡片设置 */
.el-card {
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important; */
  margin: 3px;
}

/* 表格设置 */
.el-table{
  margin-top: 15px;
}

/* 分页设置 */
.el-pagination{
  margin-top: 15px;
}